[submodule "ios/Alamofire"]
	path = ios/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "ios/Kingfisher"]
	path = ios/Kingfisher
	url = https://github.com/onevcat/Kingfisher.git
[submodule "ios/Cartography"]
	path = ios/Cartography
	url = https://github.com/robb/Cartography
[submodule "ios/CryptoSwift"]
	path = ios/CryptoSwift
	url = https://github.com/krzyzanowskim/CryptoSwift.git
[submodule "ios/Async"]
	path = ios/Async
	url = https://github.com/duemunk/Async.git
