#github "Alamofire/Alamofire" "swift-2.0"
#github "onevcat/Kingfisher" "swift-2.0"
#github "robb/Cartography" "swift-2.0"
#github "krzyzanowskim/CryptoSwift" "swift20"
#github "duemunk/Async" "feature/Swift_2.0"
#github "daltoniam/Starscream" "Swift-2.0"
#github "ReactiveCocoa/ReactiveCocoa" "swift-development"
#github "magicalpanda/MagicalRecord"
#github "jdg/MBProgressHUD"
github "kingslay/KSJSONHelp"
