github "Alamofire/Alamofire"
#github "duemunk/Async"
github "robb/Cartography"
github "krzyzanowskim/CryptoSwift"
github "onevcat/Kingfisher"
github "ReactiveCocoa/ReactiveCocoa"
github "antitypical/Result"
